@font-face {
    font-family: "Athelas";
    src: url(fonts/Athelas/Athelas-Regular.woff2);
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #fefefe;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    max-width: 1000px;
    margin: auto;
}

.text {
    margin: 6em 0 0 0;
    font-family: "Athelas";
    text-align: center;
}

.text h1 {
    text-align: center;
    font-weight: 1;
}

.text p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.25em;
    text-align: justify;
    text-align-last: center;
}

.text a {
    color: rgb(120, 120, 120);
    font-family: monospace;
}

.text img {
    width: 100%;
}

.text .caption, .caption {
    margin-top: 0;
    font-size: 1.4em;
    text-align: center;
    font-family: monospace;
}

.mono {
    font-family: monospace;
}

span[style*="font-family: monospace"] {
    font-size: 1.2em;
}

@media screen and (max-width: 1347px) {
    .page {
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .text {
        margin: 5em auto 0 auto;
    }
    .text h1 {
        font-size: 1.8em;
    }
}


/* =============================================================================
NAVBAR
============================================================================= */


#top-logo {
    display: block;
    width: 300px;
    margin: auto;
    padding: 64px 0 20px 0;
}

.topnav {
    background-color: rgb(245, 245, 245);
}

.topnav img {
    position: fixed;
    top: 13.25px;
    right: 16px;
    width: 16px;
    opacity: 0.2;
    transition: 0.5s ease;
}

.topnav .main {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 12px 0;
}

.topnav .main li {
    padding: 14px 12px;
    display: inline;
    letter-spacing: 2px;
    font-size: 16px;
}

.topnav .main a {
    color: rgb(128, 128, 128);
    font-family: "Athelas";
    text-decoration: none;
    transition: 0.5s ease;
}

.topnav img:hover {
    opacity: 0.35;
}

.topnav .main a:hover:not(.active) {
    color: black;
}

.topnav .main a.active {
    color: black;
}

@media screen and (max-width: 650px) {
    .topnav img {
        display: none;
    }
}


/* =============================================================================
HOMEPAGE - GALLERY
============================================================================= */


.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 48px;
    font-family: "Athelas";
}

.row {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    gap: 12px;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row.reverse .desc-box {
    text-align: right;
    justify-content: flex-end;
}

.media {
    flex: 1 1 100%;
    display: flex;
    min-height: 220px;
}

.media img {
    width: 100%;
    height: 100%;
    display: block;
}

.desc-box {
    flex: 1 1 50%;
    background-color: rgb(245, 245, 245);
    padding: 40px;
    display: flex;
    /* flex-direction: column;             option 1: centered vertically */
    /* justify-content: center;            option 1: centered vertically */
    align-items: center;          /* option 2: centered vertically and horizontally */
    justify-content: center;      /* option 2: centered vertically and horizontally */
    gap: 0.5rem;
}

.desc-box h1 {
    font-size: 2.2em;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    margin: 0;
}

.gallery .desc-box p {
    font-size: 1.4em;
    color: rgb(100, 100, 100);
}


/* =============================================================================
PRINTING
============================================================================= */


@media print {
    html, body {
        height: auto;
        overflow: visible !important;
    }
    .topnav {
        position: static !important;
    }
    .page {
        max-width: none;
        width: 100%;
    }
    .text, .mono, .image-row, .caption {
        page-break-inside: avoid;
    }
}